################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarsRanger/acklog.txt
*.$$M
*.$$w
*.bak
*.raw
*.wed
*.fxo
