################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarsRanger/acklog.txt
*.$$M
*.$$w
*.bak
*.raw
*.wed
*.fxo
*.svg
*.png
*.txt
/MarsRanger/resources/000_Back.wmb
/MarsRanger/resources/000_Back.wmp
